@import url(@angular/material/prebuilt-themes/indigo-pink.css);
html{
  height: 100%;
}
body{
  font-family: sans-serif;
  background-color:#84CFD4;
  font-size:16px;
  margin: 0;
  padding-top: 100px;
}

*{
  box-sizing:border-box
}

img{
  width: 225px;
  padding-right: 10px;
  padding-bottom: 5px;
}

#imagePreview{
  width: 300px;

}
h1,h2,h3,h4,h5,h6{
  padding:0;
  padding-bottom: 3vb;
  margin:0
}

.text-center{
  text-align:center;
  margin-top: 0;
  padding-top:25px;
  position: relative;

}

.toggle-menu{
  text-align:left;
  float: left;
  text-decoration:none;
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
  margin-left: 0;
}
.toggle-menu:hover{
  background-color: #4b9ea5;
}
.logout-text{
  text-align:right;
  float: right;
  text-decoration:none;
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
}

.logout-text:hover{
  background-color: #4b9ea5;
}

.login .container{
  max-width:460px;
  margin:3rem auto;
  padding:2rem;
}
.label{
  color: #1B5A5F;
}

.input{
  appearance:none;
  display:block;
  width:100%;
  color:#1B5A5F;
  border:1px solid #1B5A5F;

  padding:1rem;
  border-radius:0.25rem
}
.input.input-error{
  border:1px solid red
}
.input.input-error:focus{
  border:1px solid red
}
.input:focus{
  outline:none;
  border:1px solid #1B5A5F;
  background-clip:padding-box
}
.error-message{
  font-size:0.85rem;
  color:red
}
.button{
  background-color:#1B5A5F;
  padding:1rem;
  border:none;
  color:#fff;
  font-weight:bold;
  display:block;
  width:100%;
  text-align:center;
  cursor:pointer;
  font-size:1rem
}
.button:hover{
  filter:brightness(110%)
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1B5A5F;
  height: 100px;
  padding: 0;
  z-index: 1;
}

.topbar a{
  background-color: #84CFD4;
  color: #1B5A5F;
  border-radius: 10px;
}
.topbar h1{
  color: #EAFEFF;
  margin-right: 32px;
  margin-left: 140px;
}
.example-sidenav{
  background: #1B5A5F;
  height: 80vh;
  padding-right: 50px;
  /*overflow: hidden;*/
}
.example-sidenav a {
  padding: 3% 3% 3% 10%;
  width: 25vb;
  text-decoration: none;
  font-size: 25px;
  color: #84CFD4;
  display: block;
  transition: 0.3s;}

.example-sidenav a:hover {
  color: white;
  background-color: #84CFD4;
}

.sidenav a.active {
  background-color: #84CFD4;
  color: white;
}


.example-container {
  /*height: 100vh;*/
  width: 100vw;
  overflow: hidden;
  height: calc(100vh - 100px); /* Subtract the height of the topbar */;

}

.example-sidenav-content {
  /*display: flex;*/
  height: 100%;
  /*padding-top: 150px;*/
  padding-bottom: 200px;
  background: #84CFD4;
  /*overflow: hidden;*/
  border: 0;
}

.content {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #84CFD4;
  justify-content: right;
  font-size: 20px; /* Increase the font size */
  font-family: Arial, sans-serif; /* Change the font family */
}

.example-sidenav {
  display: flex;
  margin: 0;
  height: calc(100vh - 100px); /* Subtract the height of the topbar */
  padding: 0;
  width: 100%;
  border: 0;
  background-color: #1B5A5F;
  overflow: hidden;

}
nav{
  padding: 0;
  margin: 0;
  background: #1B5A5F;
  height: 100%; /* Subtract the height of the topbar */
  /*overflow: hidden;*/
  }

.schedule-container {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #1B5A5F; /* Change the background color */
  color: #fff; /* Change the font color */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove the underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Change the cursor when hovering over the button */
  border-radius: 12px; /* Add rounded corners */
}

button:hover {
  background-color: #527d80; /* Change the background color when hovering over the button */
  color: white; /* Change the font color when hovering over the button */
}


